//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

.add-collection-item {
border-radius: 4px;
    cursor: pointer;
    height: 120px;
    width: 120px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
    color: grey;
    opacity: 0.5;
  }
}

.collection-choice-modal{
  width: 650px !important;
}