.add-collection-item {
border-radius: 4px;
    cursor: pointer;
    height: 120px;
    width: 120px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
    color: grey;
    opacity: 0.5;
  }
}