//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

.add-collection-item {
  height: auto;
  width: 8rem;
  min-height: 8rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #dedede;
  font-size: 14px;
  transition: all 200ms ease-in;
  padding: 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(9, 30, 66, 0.04);
  font-weight: 500;
  &.hover {
    border-color: #f2994a;
  }
  &:first-child {
    margin-right: 2rem;
  }
  &.disabled {
    cursor: not-allowed;
    color: grey;
    opacity: 0.5;
  }
}
