$border-color: rgba(227, 228, 230, 0.7);

.add-collection-btn-wrap {
  padding: 0;
  margin-bottom: 10px;
  .add-collection-btn {
    background: transparent;
    border: none;
    color: #999;
    width: 100%;
    text-align: left;
    padding: 7px 10px;
    &:active, &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    // &:hover {
    //   color: #ffffff;
    // }
    > i {
      width: 30px;
      display: inline-block;
    }
  }

}

#parent-accordion {
  .card {
    border-radius: 0;
    border: none;
    .collapse {
      .card-body {
        padding: 0 0 0 15px !important;
      }
    }
    .collapsing {
      .card-body {
        padding: 0 0 0 15px !important;
      }
    }
    .card-header {
      border-bottom: 1px solid $border-color;
      margin-bottom: 0px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0px;
      height: 60px;
      border-radius: 0px;
      background-color: white;

      .btn {
        text-align: left;
      }
      i.fas.fa-folder-open {
        opacity: 0.4;
        padding-left: 10px;
        margin: 5px;
      }
      i.fa.fa-file-text {
        color: rgb(158, 154, 16);
        opacity: 0.8;
        padding-left: 10px;
        margin: 5px;
      }
      button.btn {
        float: left;
        width: 80%;
      }
      .btn-group {
        visibility: hidden;
        display: flex;
        margin: 0px;
        height: 100%;
        border-radius: 0px;
        button.btn.btn-secondary {
          border-radius: 0px;
          background: rgb(237, 237, 237);
          border: 0px;
          border-left: 1px solid rgba(0, 0, 0, 0.125);
          color: rgba(0, 0, 0, 0.4);
        }
        .dropdown-menu {
          border-radius: 0px;
          transform: translate3d(-119px, 59px, 0px) !important;
          margin: 0px;
        }
      }
      .show {
        visibility: visible;
      }
    }
    .card-header:hover {
      background: rgb(237, 237, 237);

      .btn-group {
        visibility: visible;
      }
    }
  }
}

#back-to-all-collections-button {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding-bottom: 0px;
  i {
    width: 40px;
  }
  label {
    width: 100%;
    text-align: left;
  }
}

.collection-description {
  padding: 10px;
}

.img-icon-div {
  img {
    height: 50px;
    width: 50px;
    border: 2px solid tomato;

    border-radius: 100%;
  }
}
