.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked+.react-switch-label {
    background: #007bff
      /* Change background to blue when checked */
  }

  &:checked+.react-switch-label .react-switch-button {
    left: 96%;
    transform: translateX(-99%);
  }
}

.react-switch-label {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  /* Adjusted width */
  height: 16px;
  /* Adjusted height */
  background: grey;
  border-radius: 50px;
  /* More rounded */
  position: relative;
  transition: background-color 0.2s;

  &:active .react-switch-button {
    width: 20px
  }

  & .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    /* Adjusted position */
    left: 2px;
    /* Adjusted position */
    width: 12px;
    /* Adjusted width */
    height: 12px;
    /* Adjusted height */
    border-radius: 50%;
    /* More rounded */
    transition: 0.4s;
    background: #fff;
  }
}

.switch-btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}