REACT_APP_API_URL=https://dev-api.hitman.app
REACT_APP_UI_URL=http://localhost:3000
REACT_APP_UI_IP=http://34.93.121.57
REACT_APP_DOMAINS_LIST=localhost:3000,app.viasocket.com,app-dev.viasocket.com
REACT_APP_CUSTOM_DOMAINS_LIST=34.93.117.77,YLFDgUhnke;34.93.224.15,YLFDgUhnke;localhost:3000,YLFDgUhnke
REACT_APP_CIRCLECI_TOKEN=05a80e896f5d114d4e031a03027a86254a8ace9e
REACT_APP_CIRCLECI_CONTEXT_ID=09065579-7e51-4531-9f43-e034bf55f114
REACT_APP_ANALYTICS=true
REACT_APP_EBL_API_BASE_URL=https://api-dev.viasocket.com
REACT_APP_ENV=development

# URL for which only non logged in user dashboard route and all public routes will be opened.
REACT_APP_PUBLIC_UI_URL=YOUR_PUBLIC_UI_URL


#steve_onboarding_widget
REACT_APP_STEVE_WIDGET_URL=http://localhost:8080/widget.js
REACT_APP_STEVE_PROJECT_ID=YOUR_STEVE_PROJECT_ID
REACT_APP_STEVE_AUTHKEY=YOUR_STEVE_AUTHKEY
REACT_APP_STEVE_WIDGET_ID=YOUR_STEVE_WIDGET_ID

# Feedio Widget
REACT_APP_FEEDIO_WGT_URL=YOUR_FEEDIO_WIDGET_URL
REACT_APP_FEEDIO_WGT_BOARD_TOKEN=YOUR_FEEDIO_BOARD_TOKEN

# Base URL of all Products logo.
REACT_APP_SHEETASDB_LOGO = https://stuff.walkover.in/sokt/sheetasdb.svg
REACT_APP_FEEDIO_LOGO = https://stuff.walkover.in/sokt/feedio.svg
REACT_APP_EBL_LOGO = https://stuff.walkover.in/sokt/ebl.svg

# Other Products UI Base Urls
REACT_APP_FEEDIO_UI_URL = https://feedio-dev.viasocket.com
REACT_APP_SHEETASDB_UI_URL = https://sheetasdb.viasocket.com
REACT_APP_SOCKET_SSO_URL=http://auth-dev.viasocket.com
REACT_APP_VIASOCKET_URL=https://app-dev.viasocket.com
REACT_APP_COMMUNITY_URL = https://community.viasocket.com/

#ViasocketHitman Url
REACT_APP_HITMAN_WEBSITE_URL = https:/viasocket.com/hitman

#HELLO_WIDGET
REACT_APP_HELLO_WIDGET_TOKEN = your_hello_widget_token

# Desktop App Urls
REACT_APP_DESKTOP_APP_DOWNLOAD_LINK = https://viasocket.com/downloads

# Notarize credentials
NOTARIZE_EMAIL=emailAddress
NOTARIZE_PASS=password

#AMPLITUDE
REACT_APP_AMPLITUDE_KEY = 7bdfe2644a25828557be2753a95d88bf

REACT_APP_SUPERFORM_CSS_IMPORT_URL = https://scripts.sokt.io/superform/superform.css
REACT_APP_SUPERFORM_JS_IMPORT_URL = https://scripts.sokt.io/superform/superform.js