//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

.entity-input {
    width: 100%;
    margin: 0px 0px 5px 0;
    border: 0.5px solid #E6DBD4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    text-transform: capitalize;
}

.entity-submit-btn {
    padding: 0 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    box-shadow: none !important;
    width: 100px;
    height: 31px;
    background: linear-gradient(135deg, #F2994A 2.5%, #f2994a 2.51%, #f0bd3b 100%) !important;
    border: none;
    border-radius: 4px !important;
    color: #fff;
    margin-right: 10px;
}

.entity-name-error {
    color: red;
}

.quick-add-endpoint {
    padding: 0px 15px 10px 40px;
}

.quick-add-endpoint p {
    font-size: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.endpoint-container .endpoint-url-container .dropdown .dropdown-toggle:after {
    margin-top: 2px;
}

.body {
        text-align: center;
    .col {  
        display: inline-table;
    }
    .entity-name {  
        margin: 20px 30px;
        border-radius: 10px;
        cursor: pointer;
        height: 80px;
        width: 180px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: 1px solid #dedede;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0px 0px 30px 0px #e8e8e8;
        transition: all 200ms ease-in;
    }
    .entity-name:hover {
        border-color: #F2994A;
    }
}

.add-entity-modal-container{
    width: 600px !important;
}