.value {
  width: 150px; 
  overflow-x: auto;
  white-space: nowrap;
}
.text {
  width: 220px;
}
.disabled-input {
  overflow-x: auto;
}

.text-container {
  width: 320px;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px inset;;
  // border-radius: ;
}
.custom-input-wrapper {
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px inset;
  
}
.view-site {
  border: none !important;
}
.custom-tooltip {
  max-width: 250px;
  white-space: nowrap; 
  text-align: left; 
}