//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.
@import '../main/variables.scss';

.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  .tabs-container {
    width: 100%;
    .nav {
      height: 100%;
      overflow: hidden;
      .nav-item {
        height: 42px;
        width: 5.625rem;
        position: relative;
        .nav-link{
          padding: 0 1rem 0 0;
          height: 100%;
          overflow: hidden;
          border-right: 1px solid #E6DBD4;
          border-radius: 0;
          border-bottom: 1px solid #E6DBD4;
          background-color: $secondary-color;
          &.active{
            background-color: $light-grey;
            border-bottom: 0;
          }
          .btn {
            padding: 0.5rem;
            font-size: 14px;
            width: 100%;
          }
        }
        > .close {
          position: absolute;
          right: 0.25rem;
          padding: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          i{
            font-size: $font-small;
          }
        }
        .modified-dot-icon {
          position: absolute;
          left: 12px;
          font-size: 6px;
          color: #E98A36;
          top: 0;
          margin: auto;
          bottom: 0;
          display: none;
          align-items: center;
        }
      }
      .tab-buttons {
        width: auto;
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #e6dbd4;
          border-right: 1px solid #e6dbd4;
          width: 42px;
          height: 42px;   
          .fa-plus {
            font-size: 15px;
          }
          .fa-ellipsis-h {
            font-size: 18px;
          }
        }
        .btn:hover {
          .fa-plus {
            color: tomato;
          }

          .fa-ellipsis-h {
            color: tomato;
          }
        }
      }
      #tabs-menu-button {
        border-left: 0px;
        border-top-right-radius: 5px;
        .dropdown {
          .dropdown-menu {
            transform: translate3d(-132px, 20px, 0px);
            border-radius: 0px;
            padding: 10px;
            .btn {
              font-size: 15px;
            }
          }
        }
      }
    }

    div#history-tab-button{
      button {
        height: 42px;
        border-bottom: 1px solid #e6dbd4;
        border-right: 1px solid #e6dbd4;
      }
    }

    .nav:hover {
      overflow-x: auto;
    }

    .nav::-webkit-scrollbar {
      height: 3px;
      display: none;
    }
  }
}

.newTabs .btn {
  width: 40px;
  text-align: center;
  padding: 8px 0;
}

#history-tab-button .dropdown :hover {
  svg {
    path {
      stroke: #585858fa;
    }
  }
}

.history-drop-down {
  height: 500px;
  width: 300px;
  overflow-y: auto;
}

.history-heading {
  margin-left: 15px;
  font-weight: 550;
}

.tabs-width {
  width: 240px !important;
}

.scroll-button {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  line-height: 12px;
  align-items: center;
  max-width: 40px;
  min-width: 40px;
  border: 0.5px solid #eaeaea;
  border-bottom: none;
  background-color: #f8f8f8;
  justify-content: center;
  border-right: 0;
  position: relative;

  &.disabled {
    cursor: not-allowed !important;
    color: grey;
  }
}

.tabs-name label.endpoint-name {
  color: #E98A36;
  font-size: $font-small;
  width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-header .tabs-container .nav > div:empty {
  display: none;
  width: 0;
}
.content-header .tabs-container .nav > div:nth-child(2) .nav-item {
  border-left: 0 !important;
}

.hover-div {
  margin-top: 5px;
  position: absolute;
  border: 0.5px solid #E6DBD4;
  align-items: center;
  max-width: 300px;
  min-width: 220px;
  box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 50px;
  background: #fff;
  z-index: 1200;
  padding: 5px 15px;

  .group-name {
    color: #828282;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  .endpoint-name {
    font-size: 10px;
    margin-top: 4px;
    color: #828282;
  }

  .page-name {
    color: #828282;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    margin-top: 14px;
  }

  .arrow-top {
    position: relative;
  }

  .arrow-top:before {
    content: '';
    position: absolute;
    left: -18px;
    width: 12px;
    height: calc(50% + 6px);
    border-color: #E98A36;
    border-style: solid;
    box-sizing: border-box;
    z-index: 99;
    border-width: 0 0 1px 1px;
    top: -3px;
  }
}

.newTabs .btn {
  padding: 0;
  height: 100%;
}

.content-header .tabs-container .nav .custom-tabs:first-child .nav-item.active{
  border-left: 0px !important
}

.dashboard-wrp  .nav .nav-item:after{
  width: 0px !important;
}

.dashboard-wrp  .tab-buttons{
  background-color: #f8f8f8 !important;
}
#left-tabs-example-tab-null{
  button{
    color: #E98A36;
  }
}

.custom-btn-group{
  margin-left: 8px;
  background-color: #f8f8f8;
  position: relative;
  .btn-divider{
    width: 0.5px;
    background-color: #E6DBD4;
    height: 100%;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tab-width{
  width: 115px;
}