$border-color: #E5E5E5;

.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .tabs-container {
    // width: 100%;
    // margin-left: 10px;

    border-right: none;
    border-left: none;
    border-top: none;
    height: 40px;
    align-self: flex-end;
    width: calc(100% - 200px);

    .item-wrp {
      // width: calc(100vw - 560px);
      width: 100%;
    }

    .nav {
      height: 100%;

      .nav-item {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #BDBDBD;
        border-bottom: none;
        margin: 0px 2px;
        height: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 220px;
        width: 100%;
        min-width: 0;
        background-color: #FBF9F5;

        .nav-link {
          height: 100%;
          width: 100%;
          padding: 0px;
          padding-left: 10px;
          // width: 220px;
          border-radius: 0px;
          min-width: 0;

          .btn {
            width: 100%;
            text-align: left;
            padding: 0px;
            // opacity: 0.8;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 13px;
            color: #333;
            min-width: 0;

            label {
              margin: 0;
            }
          }
        }

        .btn {
          height: 100%;
          border-radius: 0px;
          padding: 0px;
          padding-right: 10px;

          .fas {
            opacity: 0.7;
          }
        }

        >.btn {
          padding-right: 5px;
          font-size: 14px;
          border: none;
        }

        .nav-link.active {
          background-color: #ffffff;
          border-bottom: #ffffff !important;
          border-top: 2px solid #ffffff;
          border-top-left-radius: 3px;
          box-shadow: 0 1px 0 0 #ffffff !important;
        }

        .nav-link.active~.btn {
          background-color: #ffffff;
          border-bottom: #ffffff;
          border-top: 2px solid #ffffff;
          border-top-right-radius: 3px;
          box-shadow: 0 1px 0 0 #ffffff !important;
        }
      }

      .tab-buttons {
        width: 35px !important;
        min-width: 35px;
        display: flex;
        justify-content: center;
        margin: 0px;
        border-radius: 0px;

        .btn {
          display: flex;
          align-items: center;
          padding: 0px;
          font-size: 16px;

          .fa-plus {
            font-size: 15px;
          }

          .fa-ellipsis-h {
            font-size: 18px;
          }
        }

        .btn:hover {
          .fa-plus {
            color: tomato;
          }

          .fa-ellipsis-h {
            color: tomato;
          }
        }
      }

      #add-new-tab-button {
        border-top-left-radius: 5px;

        >.btn {
          width: 100%;
          justify-content: center;
        }
      }

      #tabs-menu-button {
        border-left: 0px;
        border-top-right-radius: 5px;

        .dropdown {
          .dropdown-menu {
            transform: translate3d(-132px, 20px, 0px);
            border-radius: 0px;
            padding: 10px;

            .btn {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

#modified-dot-icon {
  font-size: 10px;
  color: tomato;
}