//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

$border-color: #E5E5E5;

.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background: #ffffff;
  // border-right: 0.5px solid #E6DBD4;
  // border-left: 0.5px solid #E6DBD4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .tabs-container {
    // width: 100%;
    // margin-left: 10px;

    border-right: none;
    border-left: none;
    border-top: none;
    height: 40px;
    align-self: flex-end;
    width: calc(100%);
    background: #fff;



    .nav {
      height: 100%;
      overflow: hidden;
      border-top: .5px solid #E6DBD4;
      border-bottom: .5px solid #E6DBD4;
      border-top-left-radius: 5px;

      .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: none;
        margin: 0 5px 0px 0;
        height: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        min-width: 180px;
        background-color: #ffffff;
        position: relative;
        padding: 0 5px;
        cursor: pointer;

        .modified-dot-icon {
          position: absolute;
          left: 5px;
          font-size: 8px;
          color: #E98A36;
          top: 0;
          margin: auto;
          bottom: 0;
          display: flex;
          align-items: center;
        }

        .nav-link {
          height: 100%;
          width: 100%;
          padding: 0px;
          padding-left: 20px;
          // width: 220px;
          border-radius: 0px;
          min-width: 0;

          .btn {
            width: 100%;
            text-align: left;
            padding: 0px;
            font-size: 13px;
            color: #333;
            min-width: 0;

            label {
              margin: 0;
            }
          }
        }

        .btn {
          height: 100%;
          border-radius: 0px;
          padding: 0px;
          padding-right: 10px;

          .fas {
            opacity: 0.8;
            color: #E98A36;
            font-size: 10px;
          }
        }

        >.btn {
          // display: none;
          padding-right: 5px;
          font-size: 14px;
          border: none;
        }

        .nav-link.active {
          background-color: #F8F8F8 !important;
          border-bottom: #F8F8F8 !important;
          border-top-left-radius: 3px;
          box-shadow: 0 1px 0 0 #F8F8F8 !important;
        }

        .nav-link.active~.btn {
          background-color: #F8F8F8 !important;
          border-bottom: #F8F8F8 !important;
          border-top: 2px solid #F8F8F8 !important;
          border-top-right-radius: 3px;
          box-shadow: 0 1px 0 0 #F8F8F8 !important;
        }

        &.active {
          border-color: #fff !important;
          border-right: 0.5px solid #E6DBD4 !important;
          border-left: 0.5px solid #E6DBD4 !important;
          background: #F8F8F8 !important;
          border-radius: 0;
        }
      }

      .tab-buttons {
        width: 35px !important;
        min-width: 35px;
        display: flex;
        justify-content: center;
        margin: 0px;
        border-radius: 0px;

        .btn {
          display: flex;
          align-items: center;
          padding: 0px;
          font-size: 16px;

          .fa-plus {
            font-size: 15px;
          }

          .fa-ellipsis-h {
            font-size: 18px;
          }
        }

        .btn:hover {
          .fa-plus {
            color: tomato;
          }

          .fa-ellipsis-h {
            color: tomato;
          }
        }
      }

      #add-new-tab-button {

        >.btn {
          width: 100%;
          justify-content: center;
        }
      }

      #tabs-menu-button {
        border-left: 0px;
        border-top-right-radius: 5px;

        .dropdown {
          .dropdown-menu {
            transform: translate3d(-132px, 20px, 0px);
            border-radius: 0px;
            padding: 10px;

            .btn {
              font-size: 15px;
            }
          }
        }
      }
    }

    .nav:hover {
      overflow-x: auto;
    }

    .nav::-webkit-scrollbar {
      height: 3px;
      display: none;
    }
  }
}

.newTabs .btn {
  background: #F8F8F8;
  border-top: 0.5px solid #E6DBD4;
  border-left: 0.5px solid #E6DBD4;
  border-top-left-radius: 4px;
  width: 40px;
  text-align: center;
  padding: 8px 0;
  border-top-right-radius: 0px;
}

#add-new-tab-button :hover {
  background-color: #e0e0e0;
  svg {
    path {
      stroke: #585858fa;
    }
  }
}

#history-tab-button .dropdown :hover {
  background-color: #e0e0e0;

  svg {
    path {
      stroke: #585858fa;
    }
  }
}

.tabs-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;

  .endpoint-name {
    font-weight: bold;
  }

  // .endpoint-name-italic {
  //   font-style: italic;
  // }

  .sub-label {
    font-size: 12px;
    margin-top: 2px !important;
  }
}

.history-drop-down {
  height: 500px;
  width: 300px;
  overflow-y: auto;
}

.history-heading {
  margin-left: 15px;
  font-weight: 550;
}

.tabs-width {
  width: 240px !important;
}

.scroll-button {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  line-height: 12px;

  align-items: center;
  max-width: 40px;
  min-width: 40px;
  border: 0.5px solid #E6DBD4;
  border-bottom: none;
  justify-content: center;
  background-color: #F8F8F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &.disabled {
    cursor: not-allowed !important;
    color: grey;
  }
}

.tabs-name label.endpoint-name {
  color: #E98A36;
  font-size: 13px;
  width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-header .tabs-container .nav .nav-item:after {
  content: "";
  position: absolute;
  width: 0.05rem;
  height: 24px;
  right: 0px;
  background: #E6DBD4;
}

// .content-header .tabs-container .nav .nav-item.active:after {
//   display: none;
// }

.content-header .tabs-container .nav > div:empty {
  display: none;
  width: 0;
}
.content-header .tabs-container .nav > div:nth-child(2) .nav-item {
  border-left: 0 !important;
}

.hover-div {
  margin-top: 5px;
  position: absolute;
  border: 0.5px solid #E6DBD4;
  align-items: center;
  max-width: 300px;
  min-width: 220px;
  box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 50px;
  background: #fff;
  z-index: 1200;
  padding: 5px 15px;
  transform: translate(0,0) !important;

  .group-name {
    color: #828282;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  .endpoint-name {
    font-size: 10px;
    margin-top: 4px;
    color: #828282;
  }

  .page-name {
    color: #828282;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    margin-top: 14px;
  }

  .arrow-top {
    position: relative;
  }

  .arrow-top:before {
    content: '';
    position: absolute;
    left: -18px;
    width: 12px;
    height: calc(50% + 6px);
    border-color: #E98A36;
    border-style: solid;
    box-sizing: border-box;
    z-index: 99;
    border-width: 0 0 1px 1px;
    top: -3px;
  }
}

.content-header .tabs-container .nav .nav-item:hover>.btn {
  display: inline-block;
}

// .content-header .tabs-container .nav>div:nth-child(2) .nav-item {
//   border-left: 0.5px solid #E6DBD4;
// }

.scroll-button {
  /*     border-right: none; */
  /* height: 90%; */
  position: relative;
  height: 43px;
}

.content-header .tabs-container .nav {
  border: 1px solid #e6dbd4;
  border-bottom: none;
  border-radius: 4px 5px 0 0;
  padding-bottom: 6px;
  /* background: #f8f8f8; */
  height: calc(100% + 3px);
}

.content-header .tabs-container .nav .nav-item {
  margin: 0;
  border-bottom: 1px solid #e6dbd4;
  height: calc(100% + 6px);
}

.content-header .tabs-container .nav .nav-item.active {
  margin-left: -1px;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #e6dbd4 !important;
  margin-top: -1px;
  height: calc(100% + 7px);
  /* margin: -1px 9px 0 9px; */
  margin: -1px 0 0 -1px;
  position: relative;
  overflow: visible;
  z-index: 998;
}

.content-header .tabs-container .nav .nav-item.active:before, .custom-tabs:first-child .nav-item:before {
  content: "";
  /* position: absolute; */
  content: '';
  width: 3px;
  height: 20px;
  border: 1px solid #e6dad4;
  position: absolute;
  bottom: -1px;
  /* height: auto; */
  top: auto;
  border-top: 0;
  background: #fff !important;
  z-index: 9;
}

.content-header .tabs-container .nav .nav-item.active:before {
  border-right: 0;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  left: 100%;
  display: block;
}

.content-header .tabs-container .nav .nav-item.active:after {
  border-left: 0;
  -moz-border-radius: 0 0 5px 0px;
  -webkit-border-radius: 0 0 5px 0px;
  right: 100%;
  /* content: ""; */
  display: none;
}

.content-header .tabs-container .nav .nav-item.active>a:before {
  content: "";
  position: absolute;
  background: #f8f8f8;
  bottom: -6px;
  width: 100%;
  height: 10px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.scroll-button:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 100%;
  height: 10px;
  /*     height: 100%; */
  width: 10px;
  background: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid #e6dad4;
  border-top: 0;
}

.scroll-button--right:after {
  border-radius: 0 0 10px 10px;
}

.scroll-button--right{
  &:before {
    position: absolute;
    content: "";
    bottom: -3px;
    right: 100%;
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 0 0 10px 10px;
    border: 1px solid #e6dad4;
    border-top: 0;
  }

}


.newTabs .btn {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0;
  padding: 0;
  height: 100%;
}

.scroll-button--left:before {
  position: absolute;
  content: "";
  display: block;
  left: -1px;
  right: 0;
  top: 100%;
  bottom: -3px;
  background: #f8f8f8;
  border-left: 1px solid #e6dad4;
  /* z-index: -1; */
}
#add-new-tab-button{
  margin-left: 8px;
}
#add-new-tab-button,
#history-tab-button {
  margin-bottom: -3px;
  border-bottom: 1px solid #e6dad4;
}

.scroll-button--right>span:first-child:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f8f8f8;
}

// .content-header .tabs-container .nav .nav-item:last-child:before {
//   display: none;
// }



.content-header{
  .tabs-container{
    .nav{
      .custom-tabs{
        &:first-child{
          .nav-item{
            &.active{
              border-left: 0px !important
            }
          }
        }
        &:last-child{
          .nav-item{
            &:after{
              width: 0px;
            }
            &::before{
              border-width: 0px !important;
              width: 0px;
            }
            &.active{
              border-right: 0px !important;
            }
          }
        }
      }

    } 
  } 
} 
// #history-tab-button{
//   border-right-width: 0px !important;
// }

div#history-tab-button button#dropdown-basic {
  padding: 7px 10px;
  border-radius: 0px 4px 0px 0px;
  height: 41px;
  border: 0px;
}

.content-header .tabs-container .nav .custom-tabs:first-child .nav-item.active{
  border-left: 0px !important
}

.dashboard-wrp  .nav .nav-item:after{
  width: 0px !important;
}

.dashboard-wrp  .tab-buttons{
  background-color: #f8f8f8 !important;
}
#left-tabs-example-tab-null{
  button{
    color: #E98A36;
  }
}

.custom-btn-group{
  border: 0.5px solid #E6DBD4;
  border-bottom: 0px;
  border-radius: 4px 4px 0px 0px;
  margin-left: 8px;
  background-color: #f8f8f8;
  position: relative;
    top: 2px;
    height: 42px;
  .btn-divider{
    width: 0.5px;
    background-color: #E6DBD4;
    height: 100%;
  }
}

.content-header{
  .tabs-width{
    width: auto !important;
  }
}