.uploadBox{
    width: 60px !important;
    height: 60px !important;
    min-width: 60px;
    border: 1px dashed #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain-info{
    width: max-content;
}