//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.
@import '../main/variables.scss';
.publish-docs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: scroll;
}

.pageSettingsButton {
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.externalLinkButton {
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.right-sidebar {
  position: absolute;
  position: fixed;
  background: white;
  z-index: 1050;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 45vw;
  box-shadow: -25px 25px 43px rgba(0, 0, 0, 0.07)
}

.hosted-doc-heading {
  display: flex;
  justify-content: space-between;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: $text-color-dark;
}

.hosted-doc-heading a {
  font-size: 14px;
  font-weight: 300;
  color: #0000ff !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.publish-api-doc-container {
  background: #FFFFFF;
  padding: 30px;
}

.publish-docs-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f8f5f0;

  nav.col-md-2.d-none.d-md-block.bg-light.sidebar {
    margin-top: 10px;
    flex: 1;
    overflow: scroll;
    padding-left: 0;
    padding-right: 0;
    border-right: 2px solid;
    background-color: white;
  }
}

.grid {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .grid-column-two {
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 4px;

    .grid-column-one {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr;
      margin: 10px;
      padding: 10px;
      background: white;

      .publish-button {
        margin: 10px;
        padding: 10px;
      }
    }
  }
}

.publish-collection-div {
  margin: 10px;
}

.grid-two {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 0.4fr 1.5fr;

  .versions-section {
    margin: 0 15px 0px 0;

    .groups {
      padding: 10px;
      background: white;
    }
  }

  .contacts {
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #e98a36;
  }

  .list-contacts {
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }

  .grid-column-five {
    .btn {
      cursor: pointer;
      background: #ffffff;
      border: 0.5px solid #eb5757;
      box-sizing: border-box;
      border-radius: 4px;
      height: 38px;
      width: 110px;
    }

    .default {
      font-family: 'proxima-nova', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #eb5757;
    }
  }
}

.title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.content-panel {
  width: 100%;
  background: #fff;
}

.hosted-APIs {
  margin: 30px;
}

.grid-three {
  margin: 40px;
  display: grid;
  grid-template-columns: 200px auto;

  .grid-column-eight {
    margin: 40px;
    display: grid;
    grid-template-columns: 50px auto;
  }
}

.custom-color {
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0px 10px;
  text-align: center;
}

.dashed-border {
  border: 1px dashed gray;
}

.color1 {
  background: linear-gradient(135.53deg, #dd755e 0%, #f7bb97 97.33%);
}

.color2 {
  background: linear-gradient(133.45deg, #686eff 0%, #bd68ff 99.18%);
}

.color3 {
  background: linear-gradient(317.12deg, #7dccee 3.44%, #679ad7 100%);
}

.color4 {
  background: linear-gradient(135deg, #27ae60 0%, #1fdba3 100%);
}

.color5 {
  background: linear-gradient(135deg,
      #f2994a 2.5%,
      #f2994a 2.51%,
      #f0bd3b 100%);
}

.circle-picker {
  width: 300px !important;
  padding: 10px;

  div {
    border-radius: 0px !important;
  }

}

.status-new {
  border-radius: 4px;
  float: right;
  background: #00c58a30;
  padding: 0;
  color: #00C58A;
  width: 100%;
  max-width: 35px;
  text-align: center;
  font-size: 12px;
}

.status-edit {
  border-radius: 4px;
  float: right;
  background: #9b51e069;
  padding: 0;
  color: #9B51E0;
  width: 100%;
  max-width: 35px;
  text-align: center;
  font-size: 12px;
}

span.tag {
  background: #cadec8;
  margin-right: 10px;
  padding: 3px;

}

.rightBorder {
  position: relative;
  padding-left: 50px !important;

  &::after {
    height: 100%;
    top: 0;
    position: absolute;
    content: "";
    left: 20px;
    width: 2px;
    background: #E0E0E0;
  }
}

.groups-inner,
.pages-inner-wrapper {
  background: #fff;
  padding: 10px 0;
  margin: 15px 0;
  border-radius: 4px;
}

.group-title {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  padding-left: 25px;
  margin: 0 0 5px 0;
}

.groupListing {
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
  width: 100%;
  padding: 5px 4px;
  border-radius: 8px;
  border: .5px solid transparent;
  display: flex;
  align-items: center;

  &:hover {
    border-color: #E6DBD4 !important;
  }

  &.active {
    background: #fff;
    border-color: #E6DBD4 !important;
  }
}

.highlight {
  input {
    border: 1px solid orange;
  }
}

.page-setting .modal-title {
  color: #e98a36;
  margin-bottom: 15px;
}

.right-sidebar.page-setting {
  padding: 4rem 20px 30px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.hosted-doc-wrapper {
  background: #F8F8F8;
  border: 0.5px solid #E6DBD4;
  border-radius: 4px;
  padding: 20px;
}

label.hostes-label {
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}

.publish-reject button {
  font-weight: 500 !important;
  padding: 5px 25px !important;
}

.publish-reject button.btn.btn-success {
  font-weight: 600 !important;
}

.custom-toggle{
  border: 1px solid #E6DBD4 !important;
  padding: 5px 5px 5px 10px !important;
  &::after{
    transform: rotate(-45deg) !important;
  }
}