//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.
@import '../main/variables.scss';

.usploadBox {
  label {
    border: 1px dashed #bdbdbd;
    height: 2.25rem;
    border-radius: $border-radius;

    &:hover {
      border-color: #f1a147;
    }
  }

  &:hover {
    .uplod-info {
      display: inline !important;
    }
  }

  img {
    width: 34px;
    height: 34px;
    object-fit: contain;
  }

  .uplod-info {
    left: 30px;
    top: 16px;
  }
}

.domain-info {
  width: max-content;

  a {
    color: #dc3545;
  }
}

.favicon {
  input {
    max-width: 26rem;
  }

  small {
    &.text-danger {
      bottom: 0;
      left: 0;
    }
  }

  span {
    color: #eb5757;
    font-weight: 400;
  }

  .form-group {
    &:last-child {
      flex-grow: 1;
    }
  }
}

.publish-on-tab {
  padding: 20px;
  width: 660px;

  input {
    max-width: 100%;
  }

  .cta-buton {
    .form-group>div input:first-child {
      max-width: 12rem;
    }
  }

  .page-title {
    border: unset !important;

    &:hover {
      background-color: unset !important;
      border: unset !important;
      border-color: unset !important;
    }
  }
}

.doc-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: $text-color-dark;
}

.public-title {
  font-weight: 500;
}

.text-disable {
  color: #3b7837;

  &:hover {
    text-decoration: underline;
  }
}

.disabled-link {
  opacity: 0.5;
}

.copy-button-link {
  &:focus {
    outline: unset !important;
  }
}

.sidebar-public-url {
  border: 1px solid #ced4da;
}