.uploadBox{
    width: 60px !important;
    height: 60px !important;
    min-width: 60px;
    border: 1px dashed #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain-info{
    width: max-content;
}

.upload-box-text{
    font-size: 12px;
    text-align: center;
}

.fav-icon-text{
    color: #4F4F4F;
    font-size: 13px !important;
    margin: 0;
    font-weight: 400 !important;
    position: relative;
    top: 5px;
}