.publish-versions-list{
  border: 0.5px solid #F3F3F3;

  .items{
    height: 65vh;
    overflow-y: auto;
  }
  .collection-name{
    font-size: 12px;
    font-weight: 350;
    color: #828282 !important;
  }

  .version-accordian{
    width: 430px;
    border: none !important;

    .version-accordian-toggle{
      border: none;
      width: 446px;
      border: 0.5px solid #E6DBD4;
      border-bottom: none !important;
      padding: 7px 15px;
      border-radius: 3px;

      &:focus{
        outline: none;
      }
    }
  }
}

.publish-api-doc-heading{
  font-weight: 550;
  font-size: 18px;
  color: black;
  margin-bottom: 35px;
}

.collection-api-doc-heading{
  font-size: 15px;
  font-weight: 550;
  color: #4F4F4F;
}

.publish-sidebar-container{
  padding: 15px;
}

.sidebar-api-version-accordian{
  font-size: 14px;
  font-weight: 400;
  background: #F3F3F3;
  margin-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.publish-sidebar-accordian-container{
  border: 15px solid red !important;
}

.publish-sidebar-accordian-collapse{
  background-color: #F3F3F3;
  border: 0.5px solid #E6DBD4;
  width: 446px;
}

.sidebar-version-checkbox{
  padding-top: 10px;
}

.collection-api-doc-dropdown{
  .sidebar-dropdown{
    background: #F3F3F3;
    width: 205px;
    text-align: left;
    border-radius: 4px;
    color: #333333;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    justify-content: space-between;
    box-shadow: none !important;

    .collection-name{
      font-size: 12px;
      font-weight: 350;
      color: #828282 !important;
    }
  }

  .collection-dropdown-menu{
    background: #F3F3F3;
    width: 100%;
  }
}

.sidebar-entity-name{
  font-weight: 400 !important;
  color: #333333 !important;
  font-size: 14px !important;
}