.publish-versions-list{
  border: 1px solid red;

  .items{
    height: 70vh;
    overflow-y: auto;
  }
}

.publish-api-doc-heading{
  font-weight: 550;
  font-size: 18px;
  color: black;
  margin-bottom: 35px;
}