.public-sidebar-container {
    border-right: 1px solid rgba(128, 128, 128, 0.461);
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    padding-left: 28px;
}
@media screen and (min-width: 740){
    .public-sidebar-container {
        width: 300px;
        min-width: 266px;
        max-width: 266px;
        padding-left: 12px;
    }
}
@media screen and (max-width: 858px){
    .public-sidebar-container{
       display: none;
    } 
}