.POST {
    color: green;
    font-size: 9px;
}
.GET {
    color: orange;
    font-size: 9px;
}
.DELETE {
    color: red;
    font-size: 9px;
}
.PUT {
    color: yellow;
    font-size: 9px;
}
.PATCH {
    color: violet;
    font-size: 9px;
}