//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

#page-button {
  float: right;
}

.custom-display-page {
  padding: 10px 30px;
  margin: auto;
  max-width: 50rem;
  padding-top: 25px;
  left: 5px;
  right: 6rem;
  // min-height: calc(100vh - 70px);
  button {
    margin-bottom: 15px;
    float: right;
    &.btn-outline.orange {
      pointer-events: none;
    }
  }
  p {
    margin-bottom: 0;
  }
}

.custom-edit-page {
  // margin: 30px;
  // left: 10rem;
  margin-left: 20px;

  button {
    align-self: center;
    background: rgb(100, 149, 237);
  }

  label {
    font-size: 20px;
    font-weight: 300;
  }

  .ql-toolbar.ql-snow {
    background: #efefef;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ql-container.ql-snow {
    border: 1px solid #e0e0e0;
    background: rgba(243, 243, 243, 0.38);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.custom-page-name-input {
  margin-bottom: 10px;
}

.pageText {
  width: 100%;
  background: inherit;
  min-height: 55vh;
  word-break: break-all;
  * {
    font-size: revert;
    margin-bottom: 0;
    word-break: break-word;
  }
}

.page-icon {
  margin-right: 6px;
  height: 14px;
  margin-top: -4px;
}

.page-name-icon-container {
  overflow-wrap: anywhere;
  max-width: 182px;
}

.dropdown-label {
  color: #4f4f4f;
  font-size: 13px !important;
  margin: 0;
  font-weight: 400 !important;
  margin-bottom: 10px;
}

.dropdown-validation {
  background: #fff;
  border: none;
  padding: 0;
  font-size: 12px;
  color: #d61124;
  font-weight: 400;
}
