.page-name {
    font-size: 40px !important;
}

.main-page-content-container {
    min-width: 800px;
}
@media screen and (min-width : 1024px){
    .main-page-content-container {
        min-width:auto;
    }
}
@media screen and (max-width : 1024px){
    .main-page-content-container {
        min-width:auto;
    }
}