//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

.list{
    margin-top:20px;
    
    .heading{
        margin-left:25px;
        margin-bottom: 5px;
    }
}
