//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './variables.scss';

.font-20 {
  font-size: $font-extra-large !important;
}

.font-18 {
  font-size: $font-large-l !important;
}

.font-16 {
  font-size: $font-medium-m !important;
}

.font-12 {
  font-size: $font-small-s !important;
}

.font-10 {
  font-size: $font-extra-small !important;
}

.font-14 {
  font-size: $font-normal-n !important;
}

.gap-1 {
  gap: $gap-small !important;
}

.gap-2 {
  gap: $gap-medium !important;
}

.gap-3 {
  gap: $gap-normal !important;
}

.gap-4 {
  gap: $gap-small-large !important;
}

.gap-5 {
  gap: $gap-large !important;
}

.gap-6 {
  gap: $gap-extra-large !important;
}

.font-14 {
  font-size: $font-normal-n !important;
}

.gap-1 {
  gap: $gap-small !important;
}

.gap-2 {
  gap: $gap-medium !important;
}

.gap-3 {
  gap: $gap-normal !important;
}

.gap-4 {
  gap: $gap-small-large !important;
}

.gap-5 {
  gap: $gap-large !important;
}

.gap-6 {
  gap: $gap-extra-large !important;
}

.text-black {
  color: $text-color;
}

.fw-400 {
  font-weight: $font-weight-400 !important;
}

.fw-500 {
  font-weight: $font-weight-500 !important;
}

.fw-600 {
  font-weight: $font-weight-600 !important;
}

.fw-700 {
  font-weight: $font-weight-700 !important;
}

.fw-800 {
  font-weight: $font-weight-800 !important;
}

.fw-900 {
  font-weight: $font-weight-900 !important;
}

.text-grey {
  color: $theme-color !important;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

// Global Styles

html body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: $font-normal;
  color: $text-color;
}

.transition {
  transition: all 0.3s ease-in;
}

.rotate-180 {
  transform: rotate(180deg);
}

.bg-none {
  background: none !important;
}

.float-left {
  float: left;
}

.font-weight-700 {
  font-weight: 700;
}

.f-12 {
  font-size: $font-medium;
}

.f-10 {
  font-size: $font-small;
}

.plr-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.theme-color {
  color: $theme-color;
}

.Pane {
  overflow: scroll !important;
}