//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

@import url('global-style.scss');
@import '../main/variables.scss';

.public-colection-info {
  padding: 0 0.65rem;
}

.endpoints-list {
  margin-top: 7px;
}

.endpoints-list p {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 0 0px 7px 0;
}

.sidebar-public-url {
  justify-content: space-between;
  color: $success-color;
  overflow: hidden;
  i {
    visibility: hidden;
  }

  &:hover {
    i {
      visibility: visible;
    }
  }
}