.public-colection-info {
  padding: 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
}

.sidebar-public-url {
  color: #00C58A;
  i {
    visibility: hidden;
  }
  &:hover{
    i {
      visibility: visible;
    }
  }
}