//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

@import url('global-style.scss');
@import '../main/variables.scss';

.public-colection-info {
  // padding: 0 0 0 0.65rem;
}

.endpoints-list {
  margin-top: 7px;
}

.endpoints-list p {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 0 0px 7px 0;
}

.sidebar-public-url {
  // justify-content: space-between;
  margin-left: 0px;
  color: $success-color;
  overflow: hidden;
  i {
    visibility: hidden;
  }

  &:hover {
    i {
      visibility: visible;
    }
  }
}
.publicUrl-btn{
border: none !important;
justify-content: center;
background-color: #f8f9fa !important;
border: 1px solid #e6dbd4 !important;
margin-top: 8px !important;
padding-left: 2px !important;
}
.publicUrl-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  // Add any other styles for the disabled state
}