@import './variables.scss';

.split-sidebar>div:first-child {
    min-width: 250px !important;
    max-width: 330px !important;
    background-color: $secondary-color;
  }
  
  .split-sidebar-public>div:first-child {
    max-width: 330px !important;
    width: unset;
    min-width: 260px !important;
    background-color: $white-color;
  
    @media screen and (max-width: 992px) {
      flex: unset !important;
    }
  
    @media screen and (max-width: 767px) {
      position: fixed !important;
      z-index: 999;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: 400ms ease;
    }
  }

  .Resizer {
    width: 1px;
    background: $lightblackborder;
    cursor: col-resize;
    position: relative;
  
    &::after {
      content: '';
      width: 0.5rem;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: -0.25rem;
      z-index: 1;
      background-color: transparent;
    }
  }

  .menu-trigger-box {
    .org-button {
      .sb-avatar--text {
        .sb-avatar__text {
          span {
            span {
              font-size: 9px;
            }
          }
        }
      }
  
      svg {
        margin-top: 2px;
      }
    }
  
    span {
      &.user-notification-badge {
        right: 0.25rem;
        top: 0.75rem;
      }
    }
  
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  
  .sidebar-content {
    height: calc(100vh - 78px);
  }