.primary-sidebar {
  background-color: #fff;
  color: #999;
  width: 330px;
  font-size: 14px;
  position: relative;
  transition: box-shadow .3s .15s, transform .3s, margin-left .3s, margin-right .3s, width .3s, z-index 0s ease .3s;
}

.user-info {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.user-info .user-avatar {
  width: 32px;
  height: 32px;
  background: #F7F5F4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  flex-grow: 1;
  padding-left: 10px;
}

.user-details-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}

.user-details-text {
  font-size: 14px;
  line-height: 1.3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-settings-dropdown .dropdown-toggle:after {
  display: none;
}

.search-box {
  margin: 0px 15px;
  position: relative;
  width: auto;
  margin-bottom: 20px;
  background: #f8f5f0;
  border-radius: 4px;
}

.search-box>label {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  z-index: 9;
}

.search-box>input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 0 0 36px;
  border-radius: 3px;
  border: none;
  background: #F8F5F0;
}

input[type="text"]:focus {
  // border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  box-shadow: none;
}

.App-Side {
  padding: 0 10px;
  height: calc(100vh - 150px);
  overflow: auto;
}

.primary-sidebar .sidebar-accordion>button {
  &:hover {
    background: #FEFCF7;
    border-color: #F1EEE5;

  }
}

.primary-sidebar .sidebar-accordion.active>button {
  background: #FEFCF7;
  border-color: #F1EEE5;

  .sidebar-item-action-btn {
    visibility: visible;
    opacity: 1;
  }
}

.sidebar-accordion>button {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {

    .sidebar-item-action-btn {
      visibility: visible;
      opacity: 1;
    }
  }
}

.sidebar-accordion-item {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;

  .api-label {
    margin-right: 10px;
  }
}

.sidebar-item-action {
  // margin-left: auto;
  margin-right: 5px;
}

.sidebar-accordion .sidebar-accordion-item>i {
  display: inline-block;
  width: 30px;
}


.sidebar-item-action-btn {
  width: 26px;
  border-radius: 3px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.sidebar-item-action:hover {
  background: rgba(255, 255, 255, 0.1);
}

.secondary-sidebar .card-body {
  // padding: 0 0 0 15px;
  background: #FEFCF7;
  border-radius: 4px;
  padding: 0px 0px !important;
}

.secondary-collapse .secondary-sidebar button.btn.close {
  transform: rotate(-90deg);
  transition: 200ms;
}

.secondary-sidebar {
  // width: 270px;
  font-size: 14px;
  color: #999;
  // border-left: 1px solid #E0E0E0;
  padding: 0px 5px 10px;
  background-color: #fff;
  // position: relative;
  transition: box-shadow .3s .15s, transform .3s, margin-left .3s, margin-right .3s, width .3s, z-index 0s ease .3s;

  button.btn.close {
    position: absolute;
    top: 8px;
    right: -12px;
    transform: rotate(90deg);
    box-shadow: 0px 0px 5px #e3e2e2 !important;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 1;
    transition: 200ms;
  }

  .hm-sidebar-outer-block {
    padding: 0;
    margin-bottom: 10px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    background: #FEFCF7;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


}

.app-name {
  margin: 20px;
  .icon {
    margin: 5px 10px 5px 0;
  }
}

.HITMAN-TITLE {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212224;
  font-family: 'AlegreyaSansSCBold';
}

.empty-collections {
  margin: 80px 20px 0px 20px;
  text-align: center;
}




// .linkWrapper {
//   .linkWith {
//     .card-body {
//       .sidebar-accordion {
//         position: relative;

//         &:before {
//           top: -18px;
//           border-width: 0 0 1px 1px;
//         }

//         &:first-child::before {
//           top: -18px;
//           height: calc(50% + 20px);
//         }

//         &::after,
//         &::before {
//           content: '';
//           position: absolute;
//           left: -15px;
//           width: 20px;
//           height: calc(50% + 18px);
//           border-color: #E98A36;
//           border-style: solid;
//           -webkit-box-sizing: border-box;
//           -moz-box-sizing: border-box;
//           box-sizing: border-box;
//         }

//         &:last-child:after {
//           border: 0;
//         }

//         &::after {
//           top: 50%;
//           border-width: 0 0 0 1px;
//         }

//         &.pagesWrapper>button {
//           position: relative;

//           &:before {
//             background-image: url(../../assets/icons/pagesIcon.svg);
//             content: "";
//             position: absolute;
//             height: 9px;
//             width: 9px;
//             background-repeat: no-repeat;
//             top: 2px;
//             bottom: 0;
//             margin: auto;
//             left: -20px;
//             background-color: #FEFCF7;
//             z-index: 99999;
//           }
//         }
//       }
//     }
//   }
// }

.versionBoldHeading>button .sidebar-accordion-item {
  font-size: 14px;
  font-weight: 600;
}

.versionChovron {
  transition: 300ms;
  margin: 0 0px 0px 10px;
}

.versionBoldHeading .active .versionChovron {
  transform: rotate(180deg);
  transition: 300ms;
}

.version-collapse {
  border-top: 1px solid #EBE7DA;
}



.versionPages .sidebar-accordion {
  position: relative;

  // &::before {
  //   background-image: url(../../assets/icons/pagesIcon.svg);
  //   content: "";
  //   position: absolute;
  //   height: 11px;
  //   width: 10px;
  //   background-repeat: no-repeat;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   left: -5px;
  // }

}

.versionsgroups .linkWith>.sidebar-accordion>button {
  position: relative;
  color: #E98A36;

  // &::before {
  //   background-image: url(../../assets/icons/folderIcons.svg);
  //   content: "";
  //   position: absolute;
  //   height: 11px;
  //   width: 10px;
  //   background-repeat: no-repeat;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   left: -5px;
  // }

}

// .collectionVersionWrp {
//   height: calc(100vh - 180px);
//   overflow: auto;
//   transition: 200ms;
// }

.sidebar-content-scroll {
  height: calc(100vh - 265px);
  overflow: auto;
  transition: 200ms;
}
