@import './variables.scss';

.top-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.split-sidebar > div:first-child {
  max-width: 330px !important;
  min-width: 230px !important;
}
span.Resizer.vertical {
  width: 1px;
  background: #e6dbd4;
  cursor: col-resize;
}
.sidebar {
  height: 100%;
  background-color: $secondary-color;
  padding: 0.75rem 0 0.45rem;
  .switch-products{
    .dropdown-menu{
      .dropdown-item{
        padding: 0.25rem 1rem;
        &.dropHeader {
          font-weight: 500;
          pointer-events: none !important;
        }
      }
    } 
  }
  .collect-length {
    line-height: 1.5rem;
  }
  .globe-img {
    width: 13px;
    height: 1.25rem;
  }
  div#parent-accordion {
    margin-bottom: 0.25rem;
    .inner-container {
      max-width: 70%;
      width: 100%;
    }
  }
  .versionChovron{
    transition: all 0.3s ease-in;
  }
  .fade {
    transition: opacity 1s cubic-bezier(0.65, 0.05, 0.36, 1)!important;
  }
  .primary-sidebar {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    margin-top: auto;
    flex-direction: column;
    > .plr-3{
      flex-shrink: 0;
      flex-grow: 0;
    }
    .search-input {
      border: none;
      background: none;
      padding: 0;
      &::placeholder{
        color: $text-color;
      }
    }
    .sidebar-accordion {
      &.expanded > button .versionChovron{
        transform: rotate(90deg);
        display: inline-block;
      }
      .entity-submit-btn {
        padding: 0 !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        box-shadow: none !important;
        width: 100px;
        height: 31px;
        background: $theme-color !important;
        border: none;
        border-radius: 4px !important;
        color: #fff;
        margin-right: 10px;
        justify-content: center;
      }
      button{
        &:hover {
          background: $grey;
        }
      }
      button{
        .sidebar-item-action-btn {
          cursor: pointer;
          transition: all 0.3s ease-in;
          i{
            display: flex;
            height: 12px;
            width: 0.5rem;
            justify-content: center;
          }
        }
        .versionChovron{
          transition: all 0.3s ease-in;
        }
        &.expanded > div > .versionChovron{
          transform: rotate(90deg);
        }
        .sidebar-item-action {
          transition: all 0.3s ease-in;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          right: 0rem;
          background: $grey;
          padding: 0 0.7rem;
          top: 50%;
          transform: translateY(-50%);
        }
        width: 100%;
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        color: $text-color;
        padding: 0 0.8rem 0 0.65rem;
        position: relative;
        transition: all 0.3s ease-in;
        height: 1.5rem;
        text-align: left;
        justify-content: space-between;
        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:hover {
          .sidebar-item-action {
            visibility: visible;
            opacity: 1;
          }
        }
        .sidebar-toggle{
          transition: all 0.3s ease-in;
          &:hover {
            background: #ebebeb;
            border-color: #F1EEE5;
            .sidebar-item-action-btn {
              visibility: visible;
              opacity: 1;
            }
          }
          i{
            color: #000;
          }
        }
      }
    }
    .sidebar-content{
      overflow: hidden auto;
      .card-body {
        padding: 0;
      }
      .collection-name {
        line-height: 1;
        justify-content: space-between;
        align-items: center;
      }
    }
    .dropdown-menu{
      border: none;
    }
    .profile-menu{
      display: block;
      flex: 0 0 auto;
      border-top: 1px solid #dcdcdc;
      padding: 0.45rem 1rem 0;
      .profile-details {
        border-bottom: 1px solid #e6dbd4;
        margin-bottom: 1rem;
        padding: 0.25rem 0 0.5rem;
      }
      .profile-listing-container .dropdown-item {
        padding: 0.25rem 1rem;
        img{
          margin-right: 0.65rem; 
        }
      }
      .org-name {
        font-weight: 600;
        color: $text-color;
        margin-bottom: -0.35rem;
        font-size: $font-normal;
        display: block;
      }
      .profile-details-label-light{
        font-size: $font-medium;
        color: $text-color;
      }
      .user-notification-badge {
        position: absolute;
        left: 0;
        top: -7px;
        font-size: $font-small;
        background: $theme-color;
        color: #fff;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
      }
    }
  }
}

.heading-collection {
  color: #F2994A;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.user-info {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.public-colection-info .publicurl {
  width: 90%;
}

.publishCollection {
  background: transparent !important;
  font-weight: 400 !important;
  height: 35px;
}

.public-colection-info .setting {
  margin-left: 10px;
}

.sidebar-public-url .text-truncate {
  padding-right: 20px;
}

.user-info .user-avatar {
  width: 32px;
  height: 32px;
  background: #F7F5F4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  flex-grow: 1;
  padding-left: 10px;
}

.user-details-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}

.user-details-text {
  font-size: 14px;
  line-height: 1.3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-settings-dropdown .dropdown-toggle:after {
  display: none;
}

.search-box {
  margin: 0px 0px 0 15px;
  position: relative;
  flex-grow: 1;
  background: #f8f5f0;
}

.search-box>label {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  z-index: 9;
}

.search-box>input[type="text"] {
  width: 100%;
  &::placeholder{
    font-weight: normal;
    font-size: $font-small;
  }
}

input[type="text"]:focus {
  // border: solid rgba(255, 255, 255, 0.1);
  outline: none;
  box-shadow: none;
}
.primary-sidebar .sidebar-accordion.active>{
  button {
    background: #ebebeb;
    border-color: #F1EEE5;
    &:before{
      transform: rotate(360deg) !important;
    }
  }
  .sidebar-item-action-btn {
    visibility: visible;
    opacity: 1;
  }
}

.versionChovron svg {
  transition: all 0.3s ease-in;
}
.primary-sidebar button.expanded .versionChovron svg {
  transform: rotate(90deg) !important;
}
  



.sidebar-content:focus {
  border: none;
  outline: none;
}

.sidebar-accordion-item {
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;

  .api-label {
    margin-right: 5px;
  }
}
.sidebar-accordion .sidebar-accordion-item>i {
  display: inline-block;
  width: 30px;
}

.sidebar-item-action:hover {
  background: rgba(255, 255, 255, 0.1);
}

.secondary-sidebar .card-body {
  background: #F3F3F3;
  border-radius: 4px;
  padding: 0px 0px !important;
}

.secondary-collapse .secondary-sidebar button.btn.close {
  transform: rotate(-90deg);
  transition: 200ms;
}

.secondary-sidebar {
  font-size: 14px;
  color: #999;
  padding: 0px 0 10px;
  background-color: transparent;
  transition: box-shadow .3s .15s, transform .3s, margin-left .3s, margin-right .3s, width .3s, z-index 0s ease .3s;

  button.btn.close {
    position: absolute;
    top: 8px;
    right: -12px;
    transform: rotate(90deg);
    box-shadow: 0px 0px 5px #e3e2e2 !important;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 1;
    transition: 200ms;
  }

  .hm-sidebar-outer-block {
    padding: 0;
    border: 0.5px solid #E6DBD4;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    background: #F3F3F3;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.app-name {
  margin: 20px;

  .icon {
    margin: 5px 10px 5px 0;
  }
}

.HITMAN-TITLE {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212224;
  font-family: 'AlegreyaSansSCBold';
}

.empty-collections {
  margin: 80px 20px 0px 20px;
  text-align: center;
}

.versionBoldHeading .active .versionChovron {
  transform: rotate(360deg);
  transition: 300ms;
}

.versionPages .sidebar-accordion {
  position: relative;
}
.sidebar-content-scroll {
  height: calc(100vh - 265px);
  overflow: auto;
  transition: 200ms;
}



.sidebar-content .collection-name .btn-primary {
  font-weight: 600;
  font-size: 10px;
  box-shadow: none !important;
  width: 56px;
  height: 26px;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.notification-count {
  cursor: pointer;
}
.linkWrapper button {
  padding-left: 7px;
}

.sidebar-add-btn {
  padding: 0 !important;
}
.search-box-container {
  padding: 0 14px;
}
.sidebar-accordion {
  position: relative;
}
.empty-box {
  padding: 0.25rem 0.75rem;
  opacity: 0.8;
}