
.update-status-component{
    
    position:  fixed;
    margin-right: 1%;
    bottom: 2rem; right: 0rem;
    padding: 1rem 3rem 2rem 3rem;
    border-radius: 0.7rem;
    background-color: antiquewhite;
}

.btn-close{
    margin-left: 4rem;
    border-radius: 0.3rem;
    background-color: rgb(145, 226, 24);
    border: 0;
    margin-top: 1rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}