.org-listing-container {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  .org-listing-column {
    flex: 0 0 46%;
    button {
      height: 44px !important;
      text-transform: capitalize;
      border-radius: 8px !important;
      font-weight: 500 !important;
      font-size: 14px !important;
      &.active {
        background-color: gray !important;
        color: white !important;
        font-weight: bold !important;
        border: 1px solid gray !important;
        cursor: not-allowed;
      }
    }
  }
}
