.org-listing-container {
  display: flex;
  min-height: 14vh;
  justify-content: center;
  .org-listing-column {
    .org-listing-button {
      height: 44px !important;
      text-transform: capitalize;
      border-radius: 8px !important;
      font-weight: 500 !important;
      font-size: 14px !important;
      transition: ease-in;
      overflow: hidden;
      width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.btn-secondary {
        background-color: #6c757d !important;
      }
      &:hover {
        background-color: #f2994a !important;
        color: #fff !important;
      }
      &.active {
        background-color: #f2994a !important;
        color: #fff !important;
        font-weight: bold !important;
        cursor: not-allowed;
      }
    }
  }
}
