.org-listing-container {
  display: flex;
  height: auto;
  justify-content: center;

  .org-listing-column {
    display: flex;
    border-radius: 4px;
    font-size: 14px;


    .org-listing-button {
      height: 28px !important;
      text-transform: capitalize;
      font-weight: 500 !important;
      font-size: 14px !important;
      transition: background-color 0.3s ease-in;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(55, 53, 47);
      white-space: nowrap;
    }
  }
}

.avatar-org {
  background: rgba(55, 53, 47, 0.09) !important;
  color: rgba(55, 53, 47, 0.65) !important;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.leave-icon {
  visibility: hidden;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: rgba(55, 53, 47, 0.65)
  }
}

.name-list {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover .leave-icon {
    visibility: visible;
  }
}

.check {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}