$font-normal: 14px;
$font-medium: 12px;
$font-small: 10px;
$font-large: 16px;
$theme-color: #f2994a;
$secondary-color: #f7f6f3;
$light-grey: #fafafa;
$outline-color: #e6dbd4;
$border-radius: 4px;
$text-color: #212121;
$text-color-dark: #212121;
$alert-color: #ff1909;
$success-color: #3b7837;
$border-color: rgba(227, 228, 230, 0.7);
$grey: #ece9e2;
$lightblackborder: #0000001f;
$indentation: #00000010;
$post-background-color: #d5e8dd;
$get-background-color: #e9e4d9;
$put-background-color: #e4e3ce;
$patch-background-color: #e4d9cd;
$delete-background-color: #e4d2d4;

$on-this-page-hover-color: #149cf4;


$font-extra-large: 20px;
$font-large-l: 18px;
$font-medium-m: 16px;
$font-normal-n: 14px;
$font-small-s: 12px;
$font-extra-small: 10px;