$font-normal: 14px;
$font-medium: 12px;
$font-small: 10px;
$font-large: 16px;
$theme-color: #f2994a;
$secondary-color: #f7f6f3;
$light-grey: #fafafa;
$outline-color: #e6dbd4;
$border-radius: 4px;
$text-color: #212121;
$text-color-dark: #212121;
$alert-color: #ff1909;
$success-color: #3b7837;
$border-color: rgba(227, 228, 230, 0.7);
$grey: #ece9e2;
$lightblackborder: #0000001f;



$font-extra-large: 20px;
$font-large-l: 18px;
$font-medium-m: 16px;
$font-normal-n: 14px;
$font-small-s: 12px;
$font-extra-small: 10px;