$font-normal : 14px;
$font-medium : 12px;
$font-small : 10px;
$font-large : 16px;
$theme-color : #F2994A;
$secondary-color: #F3F3F3;
$outline-color: #EEEEEE;
$border-radius : 0;
$text-color: #42526E;
$alert-color: #ff1909;
$success-color: #09800e;
$border-color: rgba(227, 228, 230, 0.7);
$grey: #e0e2e5;