.public-search-bar {
    width: 90%;
}

.public-sidebar-input {
    color: rgba(128, 128, 128, 0.7) !important;
}

.public-search-modal {
    height: 300px;
}

.break-line {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    margin: 10px 0;
}