.navbar-nav {
  float: left;
}
.nav-tabs {
  margin-top: 10px;
}
.nav-link {
  color: black;
  border: none;
  border-bottom: 4px solid tomato;
  background-color: inherit;
  border-color: tomato;
}

#search-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(223, 226, 230);
  border-radius: 60px;
  padding: 3px 10px 3px 10px;
  height: 30px;
  #search-icon {
    margin-right: 10px;
  }
  #search-box-input {
    border: none;
    background-color: inherit;
  }
}

#accordion > .card {
  border-radius: 0;
  border: none;
}

nav.col-md-3.d-none.d-md-block.bg-light.sidebar {
  padding-left: 0;
  padding-right: 0;
}

div#custom-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  height: 60px;
  border-radius: 0px;
  i.fas.fa-folder-open {
    opacity: 0.4;
    padding-left: 10px;
  }
  .btn-group {
    display: none;

    button.btn.btn-secondary {
      border-radius: 0px;
      background: rgb(237, 237, 237);
      border: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}
.btn:focus {
  outline: none;
}
div#custom-card-header:hover {
  .btn-group {
    display: flex;
    margin: 0px;
    height: 100%;
    border-radius: 0px;
  }
}
h5.mb-0 {
  float: left;
  width: 80%;
}
nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow {
  display: flex;
  align-items: baseline;
  height: 40px;
  .btn-group {
    display: flex;
    height: 100%;
    border-radius: 2px;
    #new-button {
      display: flex;
      align-items: baseline;
      background-color: tomato;
      margin: 5px 0px 5px 5px;
      .fa-plus-square {
        padding-right: 5px;
        font-size: 17px;
      }
    }
    #new-button-dropdown {
      background-color: tomato;
      margin: 5px 5px 5px 0px;
    }
    button.btn {
      padding: 0px 6px;
      color: white;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
#nav-left-buttons {
  display: flex;
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(101, 103, 105);
}

.environment-container {
  border: 1px solid rgb(223, 226, 230);
  float: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: baseline;
  align-items: flex-end;
  height: 43px;
  width: 300px;
  .environment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
    height: 35px;
    width: 35px;
    background-color: rgb(194, 194, 194);
    border-radius: 2px;
  }
  .select-environment-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3px;
    height: 35px;
    width: 100%;
    background-color: rgb(194, 194, 194);
    border-radius: 2px;
  }
}

.custom-modal-container {
  height: 600px;
  background: rgb(253, 253, 248);
}

#leftbox {
  float: left;
  width: 33%;
  height: 280px;
  #custom-req-icon-div {
    float: left;
  }
  #custom-req-icon {
    font-size: 50px;
    padding-right: 35px;
  }
}
#middlebox {
  float: left;
  width: 33%;
  height: 280px;
  #custom-col-icon-div {
    float: left;
  }

  #custom-col-icon {
    font-size: 50px;
    padding-right: 35px;
  }
}

#rightbox {
  float: right;
  width: 33%;
  height: 280px;
  #custom-env-icon-div {
    float: left;
  }
  #custom-env-icon {
    font-size: 50px;
    padding-right: 35px;
  }
}
