$border-color: rgba(227, 228, 230, 0.7);

.navbar-nav {
  float: left;
}
.nav-tabs {
  margin-top: 10px;
}
.nav-link {
  color: black;
  border: none;
  background-color: inherit;
}

#code-window-sidebar {
  display: flex;
}
#search-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: 60px;
  padding: 3px 10px 3px 10px;
  height: 30px;
  #search-icon {
    margin-right: 10px;
  }
  #search-box-input {
    border: none;
    background-color: inherit;
    outline: none;
    width: 250px;
    overflow: hidden;
  }
}

.accordion > .card {
  border-radius: 0;
  border: none;
  .card-header {
    border-bottom: 1px solid $border-color;
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    height: 60px;
    border-radius: 0px;
    background-color: white;
    .btn {
      text-align: left;
    }
    i.fas.fa-folder-open {
      opacity: 0.4;
      padding-left: 10px;
    }
    i.fa.fa-file-text {
      opacity: 0.4;
      padding-left: 10px;
      margin: 5px;
    }
    button.btn {
      float: left;
      width: 80%;
    }
    .btn-group {
      visibility: hidden;

      button.btn.btn-secondary {
        border-radius: 0px;
        background: rgb(237, 237, 237);
        border: 0px;
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .card-header:hover {
    background: rgb(237, 237, 237);

    .btn-group {
      visibility: visible;
      display: flex;
      margin: 0px;
      height: 100%;
      border-radius: 0px;
    }
  }
}
#accordion > .card {
  border-radius: 0px;
  border: none;
  div#custom-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    height: 40px;
    border-radius: 0px;
    border: none;
    i.fas.fa-folder-open {
      opacity: 0.4;
      padding-left: 10px;
    }
    h5.mb-0 {
      float: left;
      width: 100%;
    }
    .btn-group {
      visibility: hidden;

      button.btn.btn-secondary {
        border-radius: 0px;
        background: rgb(237, 237, 237);
        border: 0px;
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  div#custom-card-header:hover {
    background: rgb(237, 237, 237);
    .btn-group {
      visibility: visible;
      display: flex;
      margin: 0px;
      height: 100%;
      border-radius: 0px;
    }
  }
}
.card-body {
  padding: 0 0 0 15px !important;
}

.endpoint-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .btn {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .POST {
      color: rgb(255, 123, 0);
      margin-right: 15px;
      font-size: 13px;
      font-weight: 800;
      opacity: 0.7;
      width: 50px;
    }
    .GET {
      color: green;
      margin-right: 15px;
      font-size: 13px;
      font-weight: 800;
      opacity: 0.7;
      width: 50px;
    }
    .PUT {
      color: steelblue;
      margin-right: 15px;
      font-size: 13px;
      font-weight: 800;
      opacity: 0.7;
      width: 50px;
    }
    .DELETE {
      color: red;
      margin-right: 15px;
      font-size: 13px;
      font-weight: 800;
      opacity: 0.7;
      width: 50px;
    }
  }
  .btn-group {
    visibility: hidden;
    color: rgba(0, 0, 0, 0.4);
    .btn {
      i.fas.fa-ellipsis-h {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
.endpoint-list-item:hover {
  background: rgb(237, 237, 237);

  .btn-group {
    visibility: visible;
    display: flex;
    margin: 0px;
    height: 100%;
    border-radius: 0px;
    .btn.btn-secondary {
      border-radius: 0px;
      background: rgb(237, 237, 237);
      border: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
    }
  }
}
nav.col-md-2.d-none.d-md-block.bg-light.sidebar {
  padding-left: 0;
  padding-right: 0;
  border-right: 2px solid $border-color;
  background-color: white !important;
}

.btn:focus {
  outline: none;
}

nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow {
  display: flex;
  align-items: baseline;
  height: 40px;
  .btn-group {
    display: flex;
    height: 100%;
    border-radius: 2px;
    #new-button {
      display: flex;
      align-items: baseline;
      background-color: tomato;
      margin: 5px 0px 5px 5px;
      .fa-plus-square {
        padding-right: 5px;
        font-size: 17px;
      }
    }
    #new-button-dropdown {
      background-color: tomato;
      margin: 5px 5px 5px 0px;
    }
    button.btn {
      padding: 0px 6px;
      color: white;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
#nav-left-buttons {
  display: flex;
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(101, 103, 105);
}

.environment-container {
  align-self: flex-end;
  border-left: 1px solid $border-color;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: baseline;
  align-items: flex-end;
  height: 43px;
  width: 300px;
  .environment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
    height: 35px;
    width: 35px;
    background-color: rgb(221, 221, 223);
    border-radius: 2px;
  }
  .select-environment-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3px;
    height: 35px;
    width: 100%;
    background-color: rgb(221, 221, 223);
    border-radius: 2px;
  }
}

.custom-modal-container {
  .modal-body {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.new-button-card {
  width: 33%;
  height: 150px;
  display: flex;
  flex-direction: row;
  .new-icon-wrapper {
    font-size: 50px;
    padding-right: 25px;
    opacity: 0.7;
  }
  .new-button-text-wrapper {
    .card-title {
      color: tomato;
    }
    .card-subtitle {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.custom-collection-modal-container.modal-header {
  color: white;
  background: black;
  padding: 10px;
  button.close {
    color: white;
  }
}

label.custom-input-label {
  font-size: 15px;
  font-weight: 300;
}

input.custom-input {
  height: 30px;
}

input.custom-input::placeholder {
  font-size: 15px;
  font-weight: 300;
}

textarea.custom-input::placeholder {
  font-size: 15px;
  font-weight: 300;
}

#contained-modal-title-vcenter {
  font-size: 15px;
}
main.main.ml-sm-auto.col-lg-10 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 0px;
}
.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;
  .tabs-container {
    width: 100%;
    margin-left: 10px;

    border-right: none;
    border-left: none;
    border-top: none;
    height: 35px;
    align-self: flex-end;
    .nav {
      height: 100%;
      .nav-item {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $border-color;
        border-bottom: none;
        margin: 0px 2px;
        height: 100%;
        width: 220px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        min-width: 64px;
        max-width: 220px;
        .nav-link {
          height: 100%;
          width: 100%;
          padding: 0px;
          padding-left: 10px;
          width: 220px;
          border-radius: 0px;
          .btn {
            width: 100%;
            text-align: left;
            padding: 0px;
            opacity: 0.8;
          }
        }
        .btn {
          height: 100%;
          border-radius: 0px;
          padding: 0px;
          padding-right: 10px;
          .fas {
            opacity: 0.7;
          }
        }
        .nav-link.active {
          background-color: rgb(247, 247, 247);
          border-bottom: rgb(247, 247, 247) !important;
          border-top: 2px solid tomato;
          border-top-left-radius: 3px;
        }
        .nav-link.active ~ .btn {
          background-color: rgb(247, 247, 247);
          border-bottom: rgb(247, 247, 247);
          border-top: 2px solid tomato;
          border-top-right-radius: 3px;
        }
      }
      #add-new-tab-button {
        width: 35px !important;
        min-width: 35px;
        display: flex;
        justify-content: center;
        .btn {
          padding: 0px;
          font-size: 25px;
        }
      }
    }
  }
}

.endpoint-container {
  display: flex;
  flex-direction: column;
  .endpoint-name-container {
    border-bottom: 1px solid $border-color;
    padding: 2px;
    background-color: rgb(247, 247, 247);
    .endpoint-name-input {
      display: flex;
      flex-direction: row;
      outline: none;
      // border: 1px solid rgba(227, 228, 230, 0.7);
      // border-radius: 60px;
      border: none;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 20px;
      background-color: inherit;
    }
    .endpoint-name-input::placeholder {
      font-weight: 300;
    }
  }
  .endpoint-url-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    height: 60px;
    .dropdown-menu.show {
      display: flex;
      flex-direction: column;
    }

    .input-group-prepend {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      .dropdown {
        height: 100%;
        border-radius: 2px;
      }
      button#dropdownMenuButton {
        height: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: rgb(237, 237, 237);
        border: 1px solid $border-color;
        border-right: none;
        color: black;
        font-size: 15px;
        opacity: 0.7;
      }
      .host-field-container {
        position: relative;
        width: 280px;
        #select-host-dropdown {
          width: 100%;
          border-radius: 0px;
          border-right: none;
          height: 100%;
        }
        input {
          position: absolute;
          height: 100%;
          width: calc(100% - 30px);
          background-color: rgb(237, 237, 237);
          border: 1px solid $border-color;
        }
      }
    }
    #endpoint-url-input {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      opacity: 0.8;
      background-color: rgb(237, 237, 237);
    }
    #send-request-button {
      color: white;
      background-color: rgb(60, 60, 233);
      margin: 0px 15px;
      font-weight: 250;
    }
    #save-endpoint-button {
      background-color: rgb(221, 221, 223);
      color: black;
      margin: 0px 15px;
      opacity: 0.7;
    }
    #show-code-snippets-button {
      background-color: rgb(221, 221, 223);
      color: black;
      opacity: 0.7;
    }
  }
  .endpoint-headers-container {
    ul#pills-tab {
      border-bottom: 1px solid $border-color;
      margin-bottom: 10px;
    }
  }
}
.sidebar-sticky {
  .nav-tabs {
    .nav-link {
      &:hover {
        color: #495057;
        border-color: transparent;
      }
      &.active {
        background: transparent;
        border: none;
        border-bottom: 3px solid tomato;
      }
    }
  }
}

body {
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
}

nav.col-md-3.d-none.d-md-block.bg-light.sidebar {
  border-right: 2px solid black;
  background-color: white !important;
}

button.btn.btn-default.custom-submit-button {
  font-size: 15px;
  font-weight: 400;
}
.endpoint-headers-container {
  .nav-tabs {
    opacity: 0.7;
    .nav-link {
      &:hover {
        color: #495057;
        border-color: transparent;
      }
      &.active {
        background: transparent;
        border: none;
        border-bottom: 3px solid tomato;
      }
    }
  }
}
.generic-table-container {
  .generic-table-title-container {
    padding: 0px 0px 5px 30px;
    opacity: 0.7;
  }
  .table {
    margin-left: 10px;
    margin-right: 10px;
    thead {
      tr {
        th {
          padding-left: 10px !important;
        }
      }
    }
  }
}
#generic-table-row {
  #generic-table-key-cell {
    border-left: none;
  }
  #generic-table-description-cell {
    // border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cross-button {
      visibility: hidden;
      width: 50px;
    }
  }
}
#generic-table-row:hover {
  #generic-table-description-cell {
    .cross-button {
      visibility: visible;
      width: 50px;
    }
  }
}
.custom-td {
  padding: 0px !important;
  opacity: 0.7;
}
.custom-th {
  padding: 5px !important;
  opacity: 0.7;
}

.endpoint-response-container {
  display: flex;
  flex-direction: column;
  .response-status {
    padding: 5px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid $border-color;
    #status {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
    }
    #time {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
    }
  }
  .response-viewer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    // justify-content: space-around;
    .response-tabs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      ul#myTab {
        border: none;
        background-color: #efefef;
        width: 250px;
        border-radius: 3px;
        margin: 0px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        .nav-item {
          .nav-link {
            opacity: 0.4;
            padding: 0px;
            &:hover {
              color: #495057;
              border-color: transparent;
              opacity: 1;
            }
            &.active {
              background: transparent;
              border: none;
              opacity: 1;
            }
          }
        }
      }
    }
    .tab-content {
      margin: 10px;
    }
  }
  .empty-response {
    border-bottom: 1px solid $border-color;
    background-color: rgb(236, 236, 236);
    opacity: 0.5;
    padding: 5px;
  }
}

.response-status-item-name {
  font-size: 15px;
  opacity: 0.7;
}
.response-status-value {
  font-size: 15px;
  opacity: 0.7;
  color: rgb(31, 148, 31);
  padding-left: 10px;
}

.__json-pretty__ {
  background-color: white !important;
  color: black !important;
  .__json-key__ {
    color: brown !important;
  }
  .__json-string__ {
    color: steelblue !important;
  }
}

button.btn.btn-default.custom-button {
  font-size: 15px;
  font-weight: 400;
}

input#custom-environment-input {
  margin-bottom: 15px;
}

.custom-button-wrapper {
  button.btn.btn-default.custom-environment-cancel-button {
    float: right;
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
    background-color: rgb(235, 236, 220);
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button.btn.btn-default.custom-environment-add-button {
    float: right;
    font-size: 15px;
    font-weight: 300;
    color: white;
    border-radius: 2px;
    background-color: rgba(231, 108, 86, 0.877);
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.custom-table-container {
  height: 600px;
  overflow: scroll;
}

.custom-environment-list-container {
  height: 600px;
  overflow: scroll;

  .list-group-item {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(230, 223, 223) !important;
    border-radius: none;
  }

  button.btn.btn-secondary {
    height: 45px;
    border: none !important;
    border-radius: none !important;
  }
}

//user menu style

.dropdown-menu.dropdown-menu-right.show {
  width: 250px;
}

#custom-user-left {
  float: left;
  font-size: 25px;
  width: 15%;
  margin-left: 5px;
}
#custom-user-right {
  float: left;
  width: 80%;
  a {
    color: rgb(255, 99, 71);
  }
}

//display page style

.custom-display-page {
  margin-left: 20px;
  margin-top: 5px;

  button {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
  }
}

//edit page style
.custom-edit-page {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  button {
    margin-top: 15px;
  }
  label {
    font-size: 20px;
    font-weight: 300;
  }
}

#endpoint-modal {
  width: 500px;
  height: 800px;
}

#endpoint-form-collection-list {
  height: 150px;
  .card-title {
    border-bottom: 1px solid $border-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    margin: 0px;

    .btn {
      padding: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .fa-chevron-left {
        font-size: 10px;
        padding-right: 10px;
      }
    }
  }
  .list-group {
    overflow: scroll;
    padding: 3px 0px;
    .list-group-item {
      border: none;
      padding: 0px;
      .btn {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
        padding: 3px 10px;
        .list-item-wrapper {
          .fa-folder {
            margin-right: 10px;
            opacity: 0.7;
          }
        }
        .fa-chevron-right {
          visibility: hidden;
          font-size: 10px;
        }
      }
      .btn:hover {
        background-color: $border-color;
        .fa-chevron-right {
          visibility: visible;
        }
      }
    }
  }
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  margin-right: 10px;
}
