//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.

.collection-search-results{
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: 0 auto;
  justify-content: center;
  height: 500px !important;
  overflow-y: auto;
  
  .search-item{
    min-width: 30%;
    margin: 5px;
    background: #f8f8f8;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e8e8e8;
    cursor: pointer;

  .collection-avatar{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-transform: capitalize;

    .name{
      border: 1px solid #F2994A;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      background: #F2994A;
      line-height: 50px;
    }
  }
  }

  .selected-item{
    border: 2px solid #F2994A
  }
}

.collection-search-input{
  margin: 20px 68px;
  width: 28.5%;
  height: 30px;
  padding: 0 0 0 36px;
  border-radius: 3px;
  border: 0.5px solid #e8e8e8;
  background: #f8f8f8;
  outline: none;
}

.marketplace-modal{
  height: 650px !important;
}

.marketplace-footer-btns{
  margin-top: 25px;
  margin-left: 66px;
  margin-bottom: 25px;
}