.collection-search-results{
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  margin: 0 auto;
  // padding: 0 20px;
  justify-content: center;
  // align-content: space-between;
  max-height: 500px;
  overflow-y: auto;
  
  .search-item{
    min-width: 30%;
    margin: 5px;
    background: #f8f8f8;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
  }
}

.collection-search-input{
  margin: 20px 68px;
}

.marketplace-modal{
  height: 650px !important;
}