.version-modal-container {
    height: fit-content;
    width: 400px;
}

.version-input {
    max-width: 100px;
}

.edit-pencil {
    width: 14px;
}

.modal-content {
    width: fit-content !important;
}

.version-title {
    font-size: 16px;
}

.default-btn {
    width: auto;
    height: fit-content;
}

.add-version-input {
    width: 60%;
}