.version-modal-container {
    height: fit-content;
    width: 100%;
}

.version-input {
    max-width: 100px;
}

.edit-pencil {
    width: 14px;
}

.version-title {
    font-size: 16px;
    max-width: 100px;
    min-width: 10px;
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis for overflow content */
    white-space: nowrap;
}

.default-btn {
    width: auto;
    height: fit-content;
}

.add-version-input {
    width: 60%;
}