.icon-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 3px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #d6d2d28f;
    }
}

.icon-button-sm {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.5px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #d6d2d28f;
    }
}