.tippy-box {
    border: 0 !important;
}
.bubble-menu {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 16px 24px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
    border-radius: 8px;
    .text-direction {
        color: #212529 !important;
        background-color: #e2e6ea !important;
        border-color: #dae0e5 !important;
    
        &::after {
            content: "" !important;
            border-top: 0.3em solid !important;
            border-right: 0.3em solid transparent !important;
            border-bottom: 0 !important;
            border-left: 0.3em solid transparent !important;
            position: static !important;
            transform: rotate(0) !important;
        }
    }
}