//Note: Unique IDs are used in CTAs for tracking purposes with GTM. Do not use the same IDs elsewhere.
@import '../main/variables.scss';

.endpoint-name-edit {
  font-weight: bold;

  .fa.fa-pencil-square-o {
    visibility: hidden;
    margin-left: 7px;
    cursor: pointer;
  }

  &:hover {
    .fa.fa-pencil-square-o {
      visibility: visible;
      margin-left: 7px;
    }
  }
}

.bread-crumb-wrapper {
  font-size: $font-medium;

  .end-point-title {
    font-weight: 700;
  }
}

.endpoint-name-input {
  height: 2.1rem !important;

  &:focus {
    outline: none;
  }
}

.protocol-selected-type {
  padding: 0px 4px;
  border: 1px solid rgba(128, 128, 128, 0.323) !important;
  background-color: white !important;
  border-radius: 4px;
}

.protocol-type-text {
  font-size: 12px !important;
  color: black !important;
}

.protocol-dropdown {
  border: 1px solid rgba(128, 128, 128, 0.3) !important;
}