.showcase_modal_container{
    border: 1px solid rgba(128, 128, 128, 0.434);
    border-radius: 4px;
}

.floder_icon {
    width: 35px;
    height: auto;
    fill: #f2994a;
}

.folder-box {
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(128, 128, 128, 0.076);
    }
}

.empty-warning {
    color: rgba(128, 128, 128, 0.305);
}

.tab-line {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.disable-save-btn {
    pointer-events: none;
}