.login {
  height: 100vh;

  &__details {
    background-color: #f2984a73;

    h4 {
      font-size: 24px;
      font-weight: 400;
    }

    .feature-list {
      li {
        padding-bottom: 20px;
        color: var(--col-white);
        font-size: 16px;
      }
    }
  }

  &__main {
    background: var(--col-white);

    div {
      width: fit-content;
    }
  }
}

.mobile-main-logo {
  height: clamp(40px, 30vw, 50px);
}

.google-auth-btn {
  border: #f2994a 1px solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  transition: ease-in-out 0.2s;
  background: none !important;
  gap: 12px;

  img {
    width: 18px;
  }

  &:hover {
    background: var(--col-h-white) !important;
  }
}

.google-logo {
  width: 12px;
  height: 12px;
}

.deatil-sec {
  background: linear-gradient(-70deg, #ffc796, #e0a470, #ffcb9d, #fffbf7);
  background-size: 400% 400%;
  animation: gradientbg 20s ease infinite;
  height: 100vh;
}

@keyframes gradientbg {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}
